#line {
	background: black !important;
	padding: 0 !important;
	border-bottom: 5px solid #05252A;

}
a.namet {
	color: white !important;
	font-size: 2em !important;
	text-shadow: 5px 2px 10px white;
}
.logo {
    background-image: url("/image/namet.png");
    background-size: contain;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
}
.menuName {
	color: white !important;
	background: #085F6D;
	border: 6px solid #05252A;
}
.blok {
	background: #AECCFA;
	border: 1px outset black;
	border-radius: 5px;
}
.quillWrapper {
	background: #afbbbd;
	
}
